<head>
  <link rel="stylesheet" href="/styles/home.css" />
</head>
<div id="main-div">
  <div>
    <form method="GET" action="/artist-search" style="display: flex; flex-direction:column; align-items:center; justify-content: center;">

      <input name="query" style="width: 300px;"
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
      <button type="submit" class="btn btn-primary"  style="margin-top: 15px; background-color: rgb(251 104 98); border-style:none;">Search for an Artist</button>
    </form>
  </div>
</div>